<div class="card">
  <div class="card-category"><%= fighter.type_gladiator %></div>
  <div class="card-description">
    <h2><%= fighter.name %></h2>
  </div>
    <% case fighter.type_gladiator %>
      <% when "Mirmillon" %>
        <%= image_tag "mirmillon.jpg", class: 'card-fighter' %>
      <% when "Retiaire" %>
        <%= image_tag "retiaire.jpg", class: 'card-fighter' %>
      <% when "Thrace" %>
        <%= image_tag "thrace.jpg", class: 'card-fighter' %>
      <% when "Hoplomaque" %>
        <%= image_tag "hoplomaque.jpg", class: 'card-fighter' %>
    <% end %>
    <div class="strengths-types">
      <p>Attaque</p>
      <p>Endurance</p>
      <p>Résistance</p>
      <p>Armure</p>
      <p>Esquive</p>
      <p>Précision</p>
    </div>
    <div class="strengths-gladiator">
      <hr style="width: <%= fighter.attack %>px">
      <hr style="width: <%= fighter.endurance %>px">
      <hr style="width: <%= fighter.resistance %>px">
      <hr style="width: <%= fighter.armor %>px">
      <hr style="width: <%= fighter.dodge %>px">
      <hr style="width: <%= fighter.precision %>px">
    </div>
</div>
